<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.i2s_creation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/i2s"
        android:label="@string/app_name"
        android:roundIcon="@drawable/i2s"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inventaire"></activity>
        <activity android:name=".ChoixInventaire" />
        <activity
            android:name=".ConsultationArticle"
            android:label="Consultation Article" />
        <activity
            android:name=".ModificationArticle"
            android:label="Modification Article" />
        <activity
            android:name=".AjoutArticle"
            android:label="Ajout Article" />
        <activity
            android:name=".MenuHome"
            android:label="Liste Article"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Parametrage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>